<app-header></app-header>
<br><br><br><br>

<div class="container-fluid">
  <br><br><br><br>
  <div class="container" >
    <div class="form-group row" style="margin: 0% 5% 0% 5%">           
        <div class="d-flex justify-content-center h-100">
          <div id="connexion1" >
            <div class="card" style="border-radius: 2%;">
              <br>
              <div class="card-header" style="background: none; ">
                <h4 style="font-weight: bold;">Demande de création d'un compte</h4>
              </div>
              <div class="card-body">
                <form #f="ngForm">
                   <!--  row 1 -->
                  <div class="form-group row">
                    <div class="col-lg-6">
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input  class="form-control" type="text" placeholder="Name"  name="name" ngModel >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group form-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input  class="form-control" type="text" placeholder="LastName"  name="lastname" ngModel>
                        </div>
          
                    </div>
                  </div>
                  <!--  row 2 -->
                  <div class="form-group row">
                    <div class="col-lg-6">
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input  class="form-control" type="text" placeholder="Username"  name="username" ngModel >
                      </div>
                    </div>   
                    <div class="col-lg-6">
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password"  class="form-control" placeholder="password" name="password" ngModel >
                      </div>
                    </div>
                  </div>
                  <!--  row 3 -->
                  <div class="form-group row">
                    <div class="col-lg-6">
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" name="email" placeholder="Email"  ngModel>
                      </div>       
                    </div>
                    <div class="col-lg-6">
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                        </div>
                        <input  class="form-control" type="text" placeholder="CIN"  name="lastname" ngModel>
                      </div>
                    </div>
                  </div>             
                  <!--  row 4 -->
                  <div class="form-group row">
                    <div class="col-lg-6">
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                        <select  class="form-control" name="adress" ngModel >
                            <option value="ariana" >Ariana</option>
                            <option value="Béja">Béja</option>
                            <option value="Ben Arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Gabes">Gabes</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Jendouba">Jendouba</option>
                            <option value="Kairouan">Kairouan</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Kebili">Kebili</option>
                            <option value="La Manouba">La Manouba</option>
                            <option value="Le Kef">Le Kef</option>
                            <option value="Mahdia">Mahdia</option>
                            <option value="Médenine">Médenine</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Siliana">Siliana</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Tozeur">Tozeur</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>
                        </select >
                      </div>
                    </div>
                  </div> 
                  <!--  button  -->              
                  <div class="form-group">
                    <input type="submit" value="Enregistrer" name="enregistrer"  class="btn float-right login_btn">
                  </div>
                </form>
              </div>
            </div>
        </div>
        </div>   
    </div>
  </div>
</div>




