<app-header></app-header>
<br><br>
<body>
<!-- <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h1>Sign In</h1>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="authForm" class="login-container" (ngSubmit)="signIn()" >
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="email" class="form-control" id="email" placeholder="Email"  formControlName="email" >
          </div>
          <div  class="help-block">
            <div >Email is required</div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>

            <input type="password" id="password" class="form-control" placeholder="password" name="password" formControlName="password">
          </div>
          <div class="help-block">
            <div >Password is required</div>
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div>
          <div class="form-group">

            <input type="submit"   value="Log in" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a [routerLink]="['/addCompte']">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container" style="height: 100vh; ">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h1 >Accéder à mes comptes</h1>
       <!--<div class="d-flex justify-content-end social_icon">
          <span><a href="https://www.facebook.com/rochdi.bahri.96/"><i class="fab fa-facebook-square"></i></a></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div> -->
      </div>
      <div class="card-body">
        <form #ff="ngForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="email" class="form-control" id="email" placeholder="Email"  #email >
          </div>
          <!-- <div  class="help-block">
             <div >Email is required</div>
           </div> -->
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" id="password" class="form-control" placeholder="password" name="password" #pwd>
          </div>
          <label style="color: white">S'electionner votre role</label>
          <div class="input-group form-group">

            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-tasks"></i></span>
            </div>

            <select id="role" class="form-select" name="role"   ngModel  #role>
              <option value="CLIENT">Client</option>
              <option value="AGENT">Agent bancaire</option>
            </select>
          </div>
          <!-- <div class="help-block">
             <div >Password is required</div>
           </div> -->

          <!-- <div class="row align-items-center" [hidden]="connexionForm">
             <p style="color: red" > invalid username or password or role !! </p>
           </div> -->
          <div class="form-group" >
            <input type="submit" (click)="signIn2(email.value, pwd.value, role.value)" value="Log in" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?
          <a [routerLink]="['/compte']">&nbsp; Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>




</body>













